@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins;
}

body {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  cursor: pointer;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 100%;
  width: 900px;
}

img {
  max-width: 100%;
}

.no-margin {
  margin: 10px 0;
  font-size: 17px;
  color: #565867;
}

@media (max-width: 480px) {
  .no-margin {
    font-size: 12px;
  }
}